#matrix_for_te_main
{
	margin-left: 30%;
margin-top: 15%;
	
}

#so_no_form_manual
{
	width: 115px !important;
}

#__container1-content
{
	
	height : 100% !important
}
#bt1_manual_assign
{
	
	margin-left	: 70px !important
}

.for_font_size_manual_textview
{
	
	
	font-size : 16px !important
} 

#sono_man1
{
	margin-top	: 0px;
}
#matrix_for_manual_main
{
	margin-left: 5% !important;
margin-top: 5% !important;
font-size: 45px;	
	
}
.for_font_manual_label
{
	
	font-size: 19px;
}


#search_for_manual
{
	width: 165px !important;
	margin-top: 0px !important;
	
}

#__box6
{
	font-size: 18px !important;
}

.sapUiUx3OverlayOpenButton
{
	
	display :none;
}
#back_to_manual1
{
	
	margin-left: 41% !important;
}

#tag_stat1
{
	
	margin-left: 20%;
}
.for_fonts_manual2
{
	font-size: 23px !important;
	
}
#matrix_manual2
{
	
	margin-left: 27%;
margin-top: 10%;
}
#matrix_manual_search
{
	
	margin-left: 20%;
	margin-top : -8px;
}

#for_so_manual_text
{
	font-size: 25px;
margin-top: 25px;
margin-left: 250px;
	
}

#__container0
{
	POSITION : RELATIVE !IMPORTANT ;
	width: 900px;
height: 900px;
margin-top: 15%;
MARGIN-BOTTOM: -1%;
}
#matrix_manual_search_emp
{
	
	margin-left: 30%;
margin-top: 10%;
}
#welcome1
{
    	margin-top: -70px;
font-size: 37px;
	
}

#welcome_text1
{
	margin-top: 30px !important;
margin-left: 40px  !important;
font-size:25px
	
}
#welcome_username1
{
	margin-top: 30px;
margin-left: 15px;
font-size: 25px;
}

#for_amend_table_report_gen
{
	
	margin-top: 20px !important
}

#oCont_popup
{
	
	width: 600px !important;
height: 335px  !important;
margin: auto   !important;
}

.hide_proposed
{
	
	 visibility: hidden !important;
}

#__label24
{
	
	margin-top: -48px !important;
}

#__label2
{
	
	margin-top: -65px !important;
}
#check_amend
{
	font-size : 17px !important
}
#summary_amend
{	
	width: 160px !important;
height: 30px !important;
font-size: 19px  !important;
}

.hideMe { 
   visibility: hidden; 
   } 

#fs2,#fs3,#fs4
{
	
	margin-top: 30px !important;
}

#report_first_zero
{
	margin-top: 45px !important;
margin-left: 40px !important;
}
#report_matrix
{
	
	margin-top: 30px !important;
	margin-left: 40px !important;
}
.for_report_gen
{
	
	height: 35px !important;
	font-size: 18px !important;
}

#wel_text
{
	
	margin-left: 510px;
font-size: 43px;
margin-top: 60px;
}
.change_color
{
	
	background: #969696!important;
}
.change_color1
{
	
	background: white !important;
}
#loci,#summary_demand
{
	width: 170px !important;
height: 30px !important;
	font-size: 18px !important; 
	
}

.for_font
{
	
	font-size: 18px !important;
}
#L-Name,#L1-Name
{
	font-size:20px !important;
}
#TF-Name,#TF1-Name
{
	
	height: 35px !important;
	font-size: 20px !important;
}

#sfrom1-icon,#sto1-icon
{
	width: 21px;
height: 25px;
}
	
}
.for_login_css{

font-size: 22px !important;
margin-top: 20px !important;
width: 210px !important;
height: 35px !important;
}
.first_page_buttons {
	margin-top: 10px !important;
	margin-right: 10px !important;
	font-size: 14px !important;
}

.sapUiBody {
	background: #fff;
}

#first1a {
	padding-top: 80px;
	margin-top: -70px;
}

.marginLeft {
	margin-left: 100px !important;
}

#owel1 {
	margin: 0 auto;
}

#welcome1 {
	font-size: 50px;
	line-height: 30px;
}

#sc1 {
	font-size: 30px !important;
	margin-top: 5px;
}

.for_normal_buttons_style1,#buton1 {
	width: 175px !important;
	height: 40px !important;
	white-space: pre-wrap !important;
	font-size: 16px !important;
	border-radius: 10px !important;
	margin-top: 30px !important;
	background-color: #AAAAAA !important
}

.for_normal_buttons_style1.selected, .for_normal_buttons_style1:hover,#buton1.selected,#buton1:hover {
	background: #303030 !important;
	color: #E0E0E0 !important;
	cursor: pointer !important;
}

#suitable_match1 tr {
	font-size: 40px !important;
}

#partial_match tr {
	font-size: 40px !important;
}

#tag_result {
	margin-top: 25px;
	width: 175px;
	height: 40px;
	white-space: pre-wrap;
	font-size: 16px;
	border-radius: 10px;
	background-color: #AAAAAA !important
}

#tag_result.selected, #tag_result:hover {
	background: #303030 !important;
	color: #E0E0E0 !important;
	cursor: pointer !important;
}

.for_fields_style1 {
	width: 200px !important;
	margin-top: 15px;
	height: 30px !important;
}

.for_fields_style1 input {
	font-size: 18px !important;
}

.for_text_style1 {
	font-size: 20px !important;
	margin-top: 15px;
}

.manual_form_common_style {
	direction: inherit;
	text-align: left;
	font-size: 17px !important;
	font-weight: normal !important;
}

.manual_form_common_style_buttons {
	width: 90px !important;
	height: 35px !important;
	margin-top: 15px !important;
}

#manual_form {
	border-collapse: collapse;
	width: 400px;
	table-layout: fixed;
	margin-left: 180px;
	margin-top: 20px;
}

.buttons_common_style1 {
	width: 271px !important;
	height: 86px !important;
	font-size: 16px !important;
	border-radius: 10px !important;
	background-color: #AAAAAA !important
}

#matrix_search_amend1
{
	margin-top: 35px !important;
margin-left: 50px !important;
	
}
.buttons_common_style1.selected, .buttons_common_style1:hover {
	background: #303030 !important;
	color: #E0E0E0 !important;
	cursor: pointer !important;
}

#matrix2 {
	border-collapse: collapse;
	width: 800px;
	table-layout: fixed;
	margin: 0 auto;
	margin-top : 70px !important
}

#desc1 {
	direction: inherit;
	font-size: 21px;
	width: 100%;
	text-align: center;
}

.content {
	
	margin: 0 auto;
	background: #ccc;
	min-height: 900px;
	-webkit-box-shadow: 2px 9px 35px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 9px 35px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 2px 9px 35px 0px rgba(0, 0, 0, 0.75);
}

.buttons_style1 {
	display: block;
	width: 301px !important;
	background: rgba(66, 158, 192, 0.79) !important;
	width: 100% !important;
	text-align: center;
	font-size: 17px !important;
	border: 1px solid #0187b7;
	border-radius: 10px !important;
	cursor: pointer !important;
	height: 47px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

#manual {
	margin-top: 121px;
}

#heading {
	margin: 0 auto;
	min-height: 100px;
	height: 100%;
	padding: 0 20px;
	background: #aaa;
}

#first {
	width: 550px;
	min-height: 100px;
	height: 100%;
	padding: 0 20px;
	text-align: center;
	margin: 0 auto;
	margin-top: 140px;
}

#second, #third,#manual1 {
	
	min-height: 100px;
	height: 100%;
	padding: 75 20px !important;
	margin-top: 45px;
}
#report_first,#report_first_open
{
	min-height: 100px;
	height: 100%;
	padding: 75 20px !important;
	margin-top: 65px;
	margin-left:40px;
	
}

#four1, #four2_core,#amend_first {
	min-height: 100px;
	height: 100%;
	padding: 0 20px;
	margin-top: 45px;
}

.normal_header_style {
	display: block;
	width: 301px !important;
	background: #B0B0B0 !important;
	width: 40% !important;
	text-align: center;
	font-size: 17px !important;
	border: 1px solid #0187b7;
	border-radius: 10px !important;
	cursor: pointer !important;
	height: 47px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

#df, #rg, #mt, #ad, #ap, #eh,#sle {
	width: 100%;
	margin-top: 60px !important;
	margin-right: 8px;
	height: 36px;
	text-align: center;
	font-size: 16px;
	border: 2px solid #444;
	border-radius: 6px;
}

#cg_logo {
	margin-top: 5px;
}

#aa11 {
	width: 19%;
	margin-right: 8px;
	margin-top: -53px;
	height: 36px;
	text-align: center;
	font-size: 16px;
	border: 2px solid #444;
	border-radius: 6px;
	float: right;
}

#lo {
	width: 19%;
	float: right;
	margin-top: 5px;
	height: 36px;
	text-align: center;
	font-size: 16px;
	border: 2px solid #444;
	border-radius: 6px;
}

#fhb {
	margin-top: -27px !important;
}

#df.selected, #df:hover, #rg.selected, #rg:hover, #mt.selected, #mt:hover,
	#ad.selected, #ad:hover, #aa11.selected, #aa11:hover, #lo.selected, #lo:hover,#sle.selected, #sle:hover
	{
	background: #444;
	color: #fff;
	cursor: pointer;
}

.hide_div {
	display: none
}

#matrix4 {
	border-collapse: collapse;
	width: 600px;
	table-layout: fixed;
	margin: 10px auto;
}

.for_buttons {
	display: block;
	width: 300px;
	background: #f8f8f8;
	width: 25%;
	padding: 10px 0;
	text-align: center;
	font-size: 16px;
	border: 1px solid #444;
	border-radius: 10px;
	cursor: pointer;
	float: left;
}

#bt1 {
	margin-left: 640px;
	margin-top: 40px;
}

#mytable-rows-row0 {
	background-color: #f0f0f0;
}

#__field0-col0-row0, #__field1-col5-row0 {
	background-color: #fff;
}

#__container0 {
	position: fixed;
	top: 46% !important;
	left: 50% !important;
	/* transform: translate(-50%, -50%); */
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#__container0-openNew {
	display: none !important;
}

#__view36 {
	direction: inherit;
	width: 700px;
	height: 25px;
	border-bottom-style: dotted;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#sdiv {
	margin-left: 195px !important;
}

#scr1 {
	margin-top: 35px;
	display: block;
	width: 301px !important;
	background: #B0B0B0 !important;
	width: 95% !important;
	text-align: center;
	font-size: 17px !important;
	border: 1px solid #0187b7;
	border-radius: 10px !important;
	cursor: pointer !important;
	height: 47px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

#aa1 {
	margin-top: 35px;
}

#rmtLogo {
	margin-left: 45px;
}

#for_log_layout td {
	padding-bottom: 10px;
}

#TF-Name, #TF1-Name {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	/* Size and position */
	width: 100%;
	
	border: none; 
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 3px 2px
		rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	background: #f9f9f9;
	color: #777;
	transition: color 0.3s ease-out;
}